service: lf-lh-gov-sv-stack2

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.11
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}

custom:
  stackName: lf-lh-gov-sv-stack2
  stack1Name: lf-lh-gov-sv-stack1
  # Build SSM keys using mix of self: and hardcoded values
  ssmPrefix: /gov-sv/${self:custom.stack1Name}/${self:provider.stage}
  ssmDatabaseNameKey: ${self:custom.ssmPrefix}/database/silver/name
  ssmCrawlerRoleArnKey: ${self:custom.ssmPrefix}/role/crawler/arn

resources:
  Resources:
    # Lake Formation Tags
    DBAccessScopeTag:
      Type: AWS::LakeFormation::Tag
      Properties:
        CatalogId: !Ref AWS::AccountId
        TagKey: DBAccessScope
        TagValues:
          - silver
          - gold

    PIITag:
      Type: AWS::LakeFormation::Tag
      Properties:
        CatalogId: !Ref AWS::AccountId
        TagKey: PII
        TagValues:
          - 'true'
          - 'false'

    # Tag Association for Database
    LFLHSilverDBTagAssociation:
      Type: AWS::LakeFormation::TagAssociation
      DependsOn: DBAccessScopeTag
      Properties:
        Resource:
          Database:
            CatalogId: !Ref AWS::AccountId
            # Using SSM reference built with hardcoded prefix and self: values
            Name: !Sub '{{resolve:ssm:${self:custom.ssmDatabaseNameKey}}}'
        LFTags:
          - CatalogId: !Ref AWS::AccountId
            TagKey: DBAccessScope
            TagValues:
              - silver

    # Grant crawler role DATABASE permissions using TBAC
    GlueCrawlerRoleLFGrantDB:
      Type: AWS::LakeFormation::PrincipalPermissions
      DependsOn: DBAccessScopeTag
      Properties:
        Principal:
          # Using !Sub with combination of hardcoded, self:, and SSM value
          DataLakePrincipalIdentifier: !Sub '{{resolve:ssm:${self:custom.ssmCrawlerRoleArnKey}}}'
        Resource:
          LFTagPolicy:
            CatalogId: !Ref AWS::AccountId
            ResourceType: DATABASE
            Expression:
              - TagKey: DBAccessScope
                TagValues:
                  - silver
        Permissions:
          - ALL
        PermissionsWithGrantOption: []

    # Grant crawler role TABLE permissions using TBAC
    GlueCrawlerRoleLFGrantTable:
      Type: AWS::LakeFormation::PrincipalPermissions
      DependsOn: 
        - DBAccessScopeTag
        - PIITag
      Properties:
        Principal:
          # Mix of self: variable referencing the SSM key
          DataLakePrincipalIdentifier: !Sub '{{resolve:ssm:${self:custom.ssmCrawlerRoleArnKey}}}'
        Resource:
          LFTagPolicy:
            CatalogId: !Ref AWS::AccountId
            ResourceType: TABLE
            Expression:
              - TagKey: DBAccessScope
                TagValues:
                  - silver
        Permissions:
          - ALL
        PermissionsWithGrantOption: []

    # Grant LF Tag ASSOCIATE permissions to crawler role for DBAccessScope
    LFTagPermissionForCrawlerRoleDBAccess:
      Type: AWS::LakeFormation::PrincipalPermissions
      DependsOn: DBAccessScopeTag
      Properties:
        Principal:
          DataLakePrincipalIdentifier: !Sub '{{resolve:ssm:${self:custom.ssmCrawlerRoleArnKey}}}'
        Resource:
          LFTag:
            CatalogId: !Ref AWS::AccountId
            TagKey: DBAccessScope
            TagValues:
              - "*"
        Permissions:
          - ASSOCIATE
        PermissionsWithGrantOption:
          - ASSOCIATE

    # Grant LF Tag ASSOCIATE permissions to crawler role for PII
    LFTagPermissionForCrawlerRolePII:
      Type: AWS::LakeFormation::PrincipalPermissions
      DependsOn: PIITag
      Properties:
        Principal:
          # Hardcoded env 'dev' mixed with self: stack1Name
          DataLakePrincipalIdentifier: !Sub '{{resolve:ssm:/gov-sv/${self:custom.stack1Name}/${self:provider.stage}/role/crawler/arn}}'
        Resource:
          LFTag:
            CatalogId: !Ref AWS::AccountId
            TagKey: PII
            TagValues:
              - "*"
        Permissions:
          - ASSOCIATE
        PermissionsWithGrantOption:
          - ASSOCIATE

  Outputs:
    DBAccessScopeTagKey:
      Value: DBAccessScope
      Description: Database Access Scope Tag Key

    PIITagKey:
      Value: PII
      Description: PII Tag Key
